<div  style="margin-top: 10px; width: 100%; background-color: white">
<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light ml-auto " style="width: 100%;">-->
<!--    <div class="container-fluid ">-->
<!--      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--        <div class="navbar-nav " style="margin-left: 300px">-->
<!--          <a class="nav-link " aria-current="page" href="save-cards">Saved Cards</a>-->
<!--          <a class="nav-link ml-5" href="save-adresses">Saved Address</a>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->

  <div  style="margin-left: 80px">
    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/add-address" routerLinkActive="active" class="nav-link p-2"
             style="width: 200px; height:40px;border: 1px solid rgba(0, 0, 0, 0.39); border-radius: 10px;margin-bottom: 40px;margin-top: 10px;
          color: white; background-color: rgb(93, 93, 138);text-align: center;margin-left: 40%">+ Add Address</a>
        </li>
      </ul>
    </div>
    <div *ngFor="let data of address" class="mt-2 text-dark">
      <p>
<!--        <button (click) = "updateAddress(data.id)" class="btn btn-info">Update</button>-->

        <button (click) = "deleteAddress(data?.address_id)" class="btn btn-danger">Delete</button>

<!--        <button (click) = "selectAddress(data.id)" class="btn btn-primary" style="margin-left: 10px;">Select</button>-->

      </p>
        <p>Address : {{data?.line1}} , {{data?.line2}} - {{data?.pincode}}</p>
        <p>City : {{data?.city}}</p>


        <hr>

    </div>

  </div>

  </div>


