img{
   width:30%;
height:50%;
display: block;
  margin-left: auto;
  margin-right: auto;

}
.container{
    width:60%;
height:50%;
  display:block;
  /*text-overflow:initial;*/

  margin: 0% auto 0% auto;
}
.btn{
  width: 20%;
  margin-left: 70%;
  margin-top: 10px;
  background-color:  rgb(28, 22, 122);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #1e293b;
  /*font-weight: bold;*/
}
